* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;

}

/* google-font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Rubik+Moonrocks&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}


/*-----------header section start here------------ */

.header-section {
    width: 100%;
    padding: 3%;

}

.header-title {
    width: 90%;
    height: 450px;
    margin: 0 auto;
    background-color: #161616;
    border-radius: 15px;

    display: flex;

}

.header-title img {
    width: 50%;
    height: 450px;
    width: 400px;
    padding-top: 5%;

}


.header-text {
    width: 50%;
    color: #FFFF;
    padding: 8%;

}

.heading-1 {
    font-size: 40px;
    margin: 2%;
}

.para-text {

    color: #B9B9B9;
}

.btn {

    background-color: #DD0000;
    color: #FFFF;
    margin-top: 8%;
    padding: 3%;
    border-radius: 5%;
    border: 1px solid #DD0000;

}

.btn:hover {
    border: 3px solid #DD0000;
}



/*-----------header section end here------------ */


/* -----<<< main section start here --->>> */

.containers {
    width: 100%;

}

.container-1 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-left: 3%;



}

.container-2 {

    width: 25%;
    height: 250px;
    background-color: #161616;
    border-radius: 15px;



}

.container-3 {
    margin-top: 7%;
    display: flex;
    column-gap: 10px;


}

.container-4 {
    display: flex;
    column-gap: 8px;
    margin-left: 6%;

}

.fa-clock.color,
.fa-message.color {
    color: #B9B9B9;


}


.menu-bar {
    color: #121212;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;



}

.link-class {
    text-decoration: none;
    color: #121212;
    display: block;
    margin: 10%;
}

.btn-2 {

    background-color: #FFFF;
    margin-top: 12%;
    border-radius: 5px;
    padding: 10px;


}

.btn-3 {

    background-color: #FFFF;
    margin-top: 12%;
    border-radius: 5px;
    padding: 10px;


}

.btn-4 {
    color: #B9B9B9;
    background-color: red;
    margin-top: 18px;
    border-radius: 5px;

    padding: 10px;


}

.btn-5 {
    color: #E8E8E8;
    background-color: red;
    margin-top: 18px;
    border-radius: 5px;
    padding: 10px;
}

.players {

    width: 65%;
    margin: 0 auto;
}


.player {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4%;
    grid-column-gap: 2%;



}

.player-card {
    box-shadow: 10px 10px 40px #E8E8E8;
    border-radius: 5px;
    height: 250px;
}

.player img {
    height: 110px;
    width: 210px;
}

.player-text {


    padding-left: 4%;
    width: 200px;
    margin-top: 4%;
    font-weight: 600;



}


.player-para-text {
    margin-top: 5%;
    padding-right: 2%;
}






/* < !-- main section start here --> */

/*  foooter starts from here  */
.footer-section {

    width: 100%;
    height: 350px;
    background-color: #161616;
    margin-top: 10%;
}

.goal {
    color: #FFFF;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-top: 7%;
    padding-bottom: 2%;

}

hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.other-part {
    width: 60%;
    display: flex;
    justify-content: space-around;
    color: #B9B9B9;
    margin: 0 auto;
    padding-top: 3%;
    font-size: small;
}

/*  foooter ends here  */





/* Upcoming match page starts from here */

.country {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 7%;
    padding-right: 5%;

}

.country-text {
    padding-top: 7%;
    padding-left: 15%;


}

.card-decoration {

    width: 220px;
    height: 200px;
    background-color: #FFFF;
    box-shadow: 10px 10px 40px #B9B9B9;
    border-radius: 8px;
    padding-top: 10%;
    margin-left: 12%;

}


.county-banner {
    display: flex;
    justify-content: space-evenly;



}


/*------- Upcoming match page ends  here ------*/

/* social media part start here  */

.social-media {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 3%;
    font-size: small;

}

.fa-facebook.color,
.fa-instagram.color,
.fa-linkedin.color,
.fa-youtube.color {
    color: #B9B9B9;
}

/* end the social media part */

/* blog-part */
.blog-header {

    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
}

/* end blog part */




/* -------------Media Queries------------ */

/* For Mobile Devices */


@media only screen and (min-width:320px) and (max-width:480px) {}